.board {
  background-color: #bbada0;
  height: 80vw;
  width: 80vw;
  border-radius: 10px;
  max-height: 1000px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cells {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 10px;
}